<link rel="stylesheet" href="/styles/empDetails.css">
<div id="update-container">
    <h1>Update Employee Details</h1>
    <form action= '/employees/update/<%= emp._id %>' method="post">
        <span class="label">Name: </span> <input type="text" name="name" class="input" placeholder="Enter your name" value="<%= emp.name %>"><br><br>
        <span class="label">Email: </span> <input type="email" name="email" class="input" placeholder="Enter email address"  value="<%= emp.email %>"><br><br>
        <div id="submit-btn"><input type="submit" value="Submit" id="btn"></div>
    </form>
</div>
