<link rel="stylesheet" href="/styles/signin.css">
<!-- sign in form page -->
<div id="signin-container">
    <h1>Sign-In Form</h1>
    <!-- form to sign in user -->
    <form action="/users/createSession" method="post">
        <!-- user email -->
        <span class="label">Email: </span> <input type="email" name="email" required class="input" placeholder="Enter email address"><br><br>
        <!-- user password -->
        <span class="label">Password: </span> <input type="password" name="password" required class="input" placeholder="Enter Password"><br><br>
        <!-- submit button -->
        <div id="submit-btn"><input type="submit" value="Submit" id="btn"></div>
    </form>
</div>
