#signin-container{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border: 1px solid lightseagreen;
    border-radius: 2rem;
    h1{
        text-align: center;
    }

    .label{
        font-size: 1.5rem;
    }
    .input{
        font-size: 1.2rem;
        border-radius: 2rem;
        border-color: lightseagreen;
        padding: 7px;
    }
    
    #submit-btn{
        text-align: center;
    }
    #btn{
        font-size: 1.3rem;
        border-radius: 2rem;
        background-color: lightseagreen;
        color: white;
        width: 150px;
        height: 70px;
        border: 0px;
    }
}