#container #select {
  display: inline-block;
  width: 25%;
  height: auto;
  min-height: 100vh;
  vertical-align: top;
  text-align: center;
  background-color: black; }
  #container #select a {
    text-decoration: none; }
  #container #select div {
    color: gainsboro;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px; }
  #container #select #assign-pr {
    color: lightseagreen; }

#container #selected-content {
  display: inline-block;
  width: 72%;
  height: auto;
  min-height: 100vh;
  text-align: center; }
  #container #selected-content #heading {
    text-align: center; }

#container #assign {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  border: 1px solid lightseagreen;
  border-radius: 2rem; }
  #container #assign .label {
    font-size: 1.3rem;
    font-weight: bold; }
  #container #assign .select {
    font-size: 1.3rem;
    padding: 3px;
    border: 1px solid lightseagreen;
    border-radius: 2rem;
    text-align: center;
    width: 350px; }
  #container #assign #btn {
    font-size: 1.3rem;
    border-radius: 2rem;
    background-color: lightseagreen;
    color: white;
    width: 150px;
    height: 70px;
    border: 0px; }
