#container #select {
  display: inline-block;
  width: 25%;
  height: auto;
  min-height: 100vh;
  vertical-align: top;
  text-align: center;
  background-color: black; }
  #container #select a {
    text-decoration: none; }
  #container #select div {
    color: gainsboro;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 15px; }

#container #selected-content {
  display: inline-block;
  width: 72%;
  height: auto;
  min-height: 100vh;
  margin-left: 15px;
  text-align: center; }
  #container #selected-content #allemp-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    #container #selected-content #allemp-header #allemp-heading #heading {
      text-align: center; }
    #container #selected-content #allemp-header #addemp-button #btn {
      font-size: 1.3rem;
      border-radius: 2rem;
      background-color: lightseagreen;
      color: white;
      width: 150px;
      height: 70px;
      border: 0px; }
  #container #selected-content .emp {
    width: 90%;
    font-size: 1.5rem;
    border: 1px solid lightseagreen;
    border-radius: 2rem;
    margin-bottom: 10px;
    padding: 7px; }
    #container #selected-content .emp .emp-name {
      text-align: left;
      display: inline-block;
      width: 50%; }
    #container #selected-content .emp .emp-actions {
      display: inline-block;
      width: 45%; }
      #container #selected-content .emp .emp-actions a {
        text-decoration: none; }
        #container #selected-content .emp .emp-actions a .emp-action-button {
          background-color: lightseagreen;
          border: 0px;
          border-radius: 2rem;
          font-size: 1.2rem;
          color: white; }
